body {
	background-color: grey;
	height:100%;
}
.holder{
	background-color: white;
	width: 80%;
	min-width: 800px;
	min-height: 80vh;
	margin: auto;
}
#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.newSong{
	width:60%;
	background-color:white;
	height:500px;
	margin: auto;
	display:inherit;
	margin-top:50vh-400px;
	padding:2em;
	text-align:center;
}
.inputs{
	text-align:right;
}

@media screen and (max-width: 800px) {
	*{
		margin:0;
		padding:0;
	}
	.newSong{
		width:100%;
	}